@import 'materialize.min.css';

body {
  background: url(../img/pattern.png);
  color: #ffffff; }

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
  color: #fff;
  margin-bottom: 30px; }
  .main-header h1 {
    margin: 0;
    padding-top: 30px; }

.img-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px; }

.card {
}

.card-content {
  color: #00796b; }

.page-footer {
  background: #212121; }
  .page-footer .footer-copyright {
    background: #424242; }
  .page-footer span {
    margin: 10px; }

.modal {
  color: #333; }

.row-0,
.row-1,
.row-2,
.row-3,
.row-4 {
  opacity: 0; }

.social-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
  }
  .social-list .social-icon {
    display: inline-block;
    padding: 0 20px;
    color: white; }
  .social-list .social-icon:hover {
    transition: 0.8s;
    color: teal; }

@media only screen and (max-width: 768px) {
  .main-header h1 {
    font-size: 32px; } }
