/* Intro */

#intro {
  p {
    font-size: 1.25em;

    @include breakpoint("<=medium") {
      br {
        display: none;
      }
    }

    @include breakpoint("<=small") {
      font-size: 1em;
    }
  }

  @include breakpoint("<=large") {
    background-attachment: scroll;
  }

  .green-accent {
    color: _palette(green-accent);
  }
}
